html{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}
body{

    background-image: linear-gradient(blue,white);
    text-align: center;
}
input{
    width: 200px;
    font-size: 15px;
    padding:2px;
    height: auto;
    margin: 3px;
    border-radius: 10px;
    outline: none;
}

button{
    margin:3px;
    font-size: 15px;
    padding:2px;
    width: 100px;
    border-radius: 20px;
    outline: none;
}

.userAdd table {
    display: initial;
    text-align: center;
}
.left{
    text-align: left;
}
